<h1><%= t :welcome %>, <%= t :admin %>!</h1>
<p>You may edit you personal data <a href="<%= edit_admin_content_data_path %>">here</a></p>
<p>You may edit categories <a href="<%= categories_path %>">here</a> </p>
<p>You may edit subcategories <a href="<%#= subcategories_path %>">here</a> </p>