%section
  %h2
    = plant.name.capitalize
  - if plant.images.exists?
    %a.image.full{:href => plant_path(plant)}
      %img{:alt => "", :src => asset_path(plant.main_image.path.url)}/
  %p= truncated_text(plant.description)
  %a.button{:href => plant_path(plant)}
    = t('views.shared.read_more')
