.3u
  %section
    %a.image.full{:href => "#"}
      %img{:alt => "", :src => asset_path(category.image.path.url)}/
    %p Quisque dictum. Pellentesque viverra  enim. Integer nisl risus, sagittis convallis, rutrum id, elementum.
    %a.button{:href => "#"} Read More
