%header
  %h2
    Gravida nibh quis urna
.row
  = render @categories, cache: true
  -#
  -#.3u
  -#  %section
  -#    %a.image.full{:href => "#"}
  -#      %img{:alt => "", :src => asset_path("pics11.jpg")}/
  -#    %p Pellentesque viverra  enim. Tristique ante ut risus. Quisque dictum. Integer sagittis convallis elementum.
  -#    %a.button{:href => "#"} Read More
  -#.3u
  -#  %section
  -#    %a.image.full{:href => "#"}
  -#      %img{:alt => "", :src => asset_path("pics12.jpg")}/
  -#    %p Pellentesque viverra  enim. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum.
  -#    %a.button{:href => "#"} Read More
  -#.3u
  -#  %section
  -#    %a.image.full{:href => "#"}
  -#      %img{:alt => "", :src => asset_path("pics13.jpg")}/
  -#    %p Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.
  -#    %a.button{:href => "#"} Read More
-#.divider  

