.container
  / Logo
  #logo
    %h1
      = link_to Settings.site_title, root_path
    -#%span Design by TEMPLATED
  / Nav
  %nav#nav
    %ul
      - [{ name: t('views.layout.navpanel.homepage'), path: root_path },
         { name: t('views.layout.navpanel.categories'), path: categories_path },
         { name: t('views.layout.navpanel.basket'), path: orders_path }].each do |hash|
        %li{ class: current_path == hash[:path] ? 'active' : nil }
          = link_to hash[:name], hash[:path]
